footer{
    background-color: #161a36;
    color: #fff;
}
.footer-content .row-1{
    padding: 20px 0px;
    text-align: center;
    border-bottom: solid 1px #ffffff0c;
}
.footer-content .row-2{
    padding: 40px 0px;
    display: flex;
    gap: 40px;
    /* flex-wrap: wrap; */
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.footer-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
}
.footer-col h4{
    font-size: 20px;
}
.footer-col ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: lighter;
}
.footer-col p{
    font-weight: lighter;
}
.icons_siga-nos{
    display: flex;
    gap: 15px;
    font-size: 26px;
}
.card-logos img{
    height: 20px;
    width: 30px;
    object-fit: cover;
    background-color: #fff;
}
.footer-row .footer-col:last-child{
    width: 100%;
    max-width: none;
    border-top: solid 1px #ffffff0c;
    padding-top: 20px;
}
.footer-row .footer-col:last-child ul{
    flex-direction: row;
    font-size: 14px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-row .footer-col:last-child ul li{
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 150px;
    padding-bottom: 10px;
}
.footer-row .footer-col:last-child ul h6{
    font-size: 16px;
}

.map-container {
    width: 100%;
    height: 450px;
}
.map-container iframe{
    border: none;
}

.selected-li {
    border-top: 1px solid rgba(255, 255, 255, 0.192);
    border-left: 1px solid rgba(255, 255, 255, 0.192);
    border-right: 1px solid rgba(255, 255, 255, 0.192);
    padding: 10px;
    transition: .4s;
    border-radius: 8px 8px 0px 0px;
}

.maps-btn{
    display: none;
    text-decoration: none;
}
.maps-btn button{
    border-radius: 5px;
    background-color: #39438d;
    color: #fff;
    padding: 5px 10px;
    border: none;
    display: flex;
    gap: 8px;

}
.selected-li > .maps-btn{
    display: block;
}

@media screen and (max-width:790px){
    .selected-li{
        border:none;
        border-top: 1px solid rgba(255, 255, 255, 0.192);
        border-bottom: 1px solid rgba(255, 255, 255, 0.192);
        border-radius: 0px;
    }
}