.faixa-topo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #161a36;
    color: #fff;
    /* font-size: 14px; */
    font-size: 11px;
    font-style: italic;
    letter-spacing: 1px;
}
.faixa-topo #br{
    color: #00c224;
}
.faixa-topo #as{
    color: #ffcc00;
}
.faixa-topo #il{
    color: #5563CF;
}
.faixa-topo a{
    color: #ffffff;
}


header{
    background-color: #293065;
    width: 100%;
    position: sticky;
    top: -1px;
    z-index: 99;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 15px 20px;
}
.logo{
    height: 45px;
}
.barra-de-pesquisa{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #c0c0c0;
    font-size: 15px;
    letter-spacing: 1px;
    flex-grow: 1;
}
.barra-de-pesquisa .icones i{
    color: #293065;
    font-size: 20px;
}
#desktop-search{
    display: block;
}
#mobile-search{
    display: none;
}
.user-icons{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-btn{
    font-size: 25px;
    gap: 8px;
    display: flex;
    align-items: center;
}
.btn-desc{
    line-height: 15px;
    font-size: 14px;
}
.btn-desc span{
    font-weight: 700;
}
.user-icons .bi-person-fill{
    font-size: 30px;
}
.user-icons .bi-heart-fill{
    font-size: 25px;
}
.user-icons .bi-cart-fill{
    font-size: 25px;
}


.sub-header{
    background-color: #fff;
    font-size: 14px;
    align-items: start;
}
.sub-header-content{
    padding: 5px 20px;
    display: flex;
    gap: 20px;
}
.categorias{
    display: flex;
    font-weight: bold;
    gap: 8px;
}
.sub-header-content ul{
    flex-grow: 1;
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: #696969;
}



@media screen and (max-width: 1145px) {
    .sub-header .sub-header-content #epi{
        display: none;
    }
    
}
@media screen and (max-width: 1000px) {
    .btn-desc{
        display: none;
    }
    
}
@media screen and (max-width: 990px) {
    .faixa-topo{
        display: none;
    }
    .sub-header .sub-header-content{
        display: none;
    }
    
}
@media screen and (max-width: 800px) {
    .user-icons{
        display: none;
    }
    
}
@media screen and (max-width: 600px) {
    #desktop-search{
        display: none;
    }
    #mobile-search{
        display: block;
    }
    .logo{
        display: none;
    }
    .faixa-topo{
        display: none;
    }
    .header-content{
        padding: 12px 20px;
    }
    .barra-de-pesquisa{
        height: 40px;
        font-size: 14px;
    }
    .barra-de-pesquisa .icones i{
        font-size: 19px;
    }
}
@media screen and (max-width: 350px) {
    .header-content{
        padding: 10px 20px;
    }
    .barra-de-pesquisa{
        height: 35px;
        font-size: 13px;
    }
    .barra-de-pesquisa .icones i{
        font-size: 17px;
    }
}