@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #e9e9e9;
}
.page-container{
    display: flex;
    justify-content: center;
}
.page-size{
    width: 100%;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
}
.bold{
    font-weight: bold;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;
}



.wpp_btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    padding: 10px;
    background-color: #25D366;
    color: #fff;
    line-height: 30px;
    border-radius: 50%;
    transition: .4s;
}
.wpp_btn:hover{
    transform: scale(1.1);
}